<html>
<head>
<style>
h1 {text-align: center;}
p {text-align: center;}
h6 {text-align: center;}
</style>
</head>
<body>

<h1>CIFAR10 Classification</h1>

<div>
<form method="post" action='/predict' enctype="multipart/form-data"> 
	<div> 
		<label style="padding-left:40%" for="formfile" class="form-label">Upload Image:</label> 
		<input class="form-control" type="file" name="file" id="formfile"> 
	</div>
	<br>
	</br>
	<div class="d-grid gap-2 col-4 mx-auto"> 
		<button class="btn btn-primary" style="margin-left:47%" type="submit">predict</button> 
	</div>	
</form>

{% if img %} 
<p class="text-center">Image Uploaded:
<br>
</br>
<img class="mb-4" src="{{img}}" alt="" width=120, height='120'> 
</p> 
{% endif%}
{% if prediction %} 
	<h6 class="mb-5 text-center" style="font-size:large">Prediction is {{prediction}}</h6> 
{% endif %}

</div>



</body>
</html>